In [1]:
# Code you have previously used to load data
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
import numpy as np

data = pd.read_csv('invasion.csv')
val_X = pd.read_csv('operative_information.csv')

In [2]:
data.head()

,class,g_reflection,i_reflection,speed,brightness,time_of_observance,volume
0,transport,2.190672,6.716633,62.168208,0.347465,158221,44.932446
1,transport,3.453276,8.995909,62.994707,0.590094,385972,41.568300
2,transport,2.432994,6.938691,62.245807,0.329288,446482,40.123467
3,fighter,6.083763,3.019459,18.474555,0.174738,210125,11.384865
4,fighter,12.876769,2.452950,195.805771,0.150446,23109,11.328806

In [3]:
data['class'] = pd.factorize(data['class'])[0]

In [7]:
data.head(20)

,class,g_reflection,i_reflection,speed,brightness,time_of_observance,volume
0,0,2.190672,6.716633,62.168208,0.347465,158221,44.932446
1,0,3.453276,8.995909,62.994707,0.590094,385972,41.568300
2,0,2.432994,6.938691,62.245807,0.329288,446482,40.123467
3,1,6.083763,3.019459,18.474555,0.174738,210125,11.384865
4,1,12.876769,2.452950,195.805771,0.150446,23109,11.328806
5,2,11.839620,11.175053,14.148615,0.727049,366230,344.868989
6,0,3.583082,9.118069,62.573389,0.529416,268752,48.811194
7,1,16.185380,3.686698,561.239067,0.177024,130305,11.063792
8,0,3.428605,7.933889,63.785882,0.445259,358659,46.378304
9,0,3.632056,8.945299,62.771709,0.361815,493153,43.070987
10,1,9.468371,3.058012,690.727190,0.150773,28856,13.880644
11,1,12.146224,5.094016,357.328176,0.134904,380638,10.142749
12,1,13.283433,3.525821,132.473420,0.194553,552164,11.802099
13,1,9.260027,5.475401,338.267558,0.199563,21320,11.062829
14,0,3.232512,6.900194,62.267806,0.507831,227919,45.665558
15,2,12.250561,9.945198,19.730467,0.611123,159260,452.830016
16,0,5.622813,7.122237,62.089102,0.568167,177124,39.752419
17,0,2.860564,8.079137,62.509683,0.559305,101845,42.164301
18,0,2.617450,9.116283,62.970676,0.545384,369363,49.388060
19,1,8.260850,6.873622,41.942535,0.143698,193192,13.704267

In [8]:
val_X.head()

,g_reflection,i_reflection,speed,brightness,time_of_observance,volume
0,7.516543,3.916691,513.954279,0.177247,105908,13.267224
1,4.322988,6.967689,63.752970,0.545922,277855,39.833130
2,4.595724,9.098297,62.233948,0.389201,160662,42.014556
3,2.689675,7.964869,62.475495,0.541081,162092,42.056829
4,8.075576,5.169719,336.441261,0.174757,466853,11.779813

In [9]:
list(data)

['class',
 'g_reflection',
 'i_reflection',
 'speed',
 'brightness',
 'time_of_observance',
 'volume']

In [11]:
y = data[['class']]

In [12]:

X = data[['g_reflection', 'i_reflection', 'speed', 'brightness', 'time_of_observance', 'volume']]

In [ ]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [14]:
clf = RandomForestClassifier(random_state=0)

In [15]:
clf.fit(X, y)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [ ]:
#parameters = {'n_estimators': range(10, 50, 10),
             'max_depth': range(1, 12, 2),
             'min_samples_leaf': range(1, 7),
             'min_samples_split': range(2, 9, 2)}

In [ ]:
#grid_search_cv_clf = GridSearchCV(clf, parameters, verbose=1, n_jobs=-1)

In [ ]:
#grid_search_cv_clf.fit(X,y)

In [ ]:
#grid_search_cv_clf.best_params_

In [ ]:
#best_clf = grid_search_cv_clf.best_estimator_
#feature_importances = best_clf.feature_importances_
#feature_importances_df = pd.DataFrame({'features': list(X),
                                      'feature_importances': feature_importances})
#feature_importances_df.sort_values('feature_importances', ascending=False)

In [16]:
clf_preds = clf.predict(val_X)

In [17]:
print(clf_preds)

[1 0 0 ... 0 1 0]

In [18]:
unique, counts = np.unique(clf_preds, return_counts=True)
dict(zip(unique, counts))

{0: 595, 1: 675, 2: 230}