In [24]:
# Code you have previously used to load data
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

# Path of the file to read
tr_file_path = 'train_data_tree.csv'
home_data = pd.read_csv(tr_file_path)
home_data.head()

   sex  exang  num
0    1      1    1
1    1      1    1
2    1      0    1
3    1      0    0
4    1      0    1

In [25]:
home_data.describe()

              sex       exang         num
count  238.000000  238.000000  238.000000
mean     0.710084    0.340336    0.462185
std      0.454679    0.474821    0.499619
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000
50%      1.000000    0.000000    0.000000
75%      1.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000

In [26]:

y = home_data.num
feature_columns = ['sex', 'exang']
X = home_data[feature_columns]

In [31]:
# Specify Model
tr_model = DecisionTreeClassifier(criterion="entropy")
# Fit Model
tr_model.fit(X, y)

clf=tr_model.fit(X, y)
print("First in-sample predictions:", tr_model.predict(X.head()))
print("Actual target values:", y.head().tolist())

First in-sample predictions: [1 1 0 0 0]
Actual target values: [1, 1, 1, 0, 1]

In [30]:
import pandas as pd
from scipy.stats import entropy


def ent(data):
  return entropy(data.value_counts() / len(data), base=2)

print(ent(y))

0.9958699965528488

In [45]:
clf.tree_.n_node_samples
p=clf.tree_.n_node_samples

p

array([238, 157,  53, 104,  81,  16,  65], dtype=int64)

In [46]:
clf.tree_.impurity
q=clf.tree_.impurity
q

array([0.99587   , 0.90271134, 0.61219613, 0.97315604, 0.82562653,
       0.954434  , 0.77934984])

In [35]:
import seaborn as sb
tree.plot_tree(clf, filled=True)

NameError: name 'tree' is not defined

In [39]:
import numpy as np
def entropy(p):
    return - p*np.log2(p) - (1 - p)*np.log2((1 - p))

In [47]:
entropy(q)

array([0.03865416, 0.46034144, 0.96336768, 0.17830873, 0.66761231,
       0.26725431, 0.76135291])

In [4]:
import pandas as pd
from scipy.stats import entropy


def ent(data):
  return entropy(data.num.value_counts() / len(data), base=2)


def ig(data, feature):
  ent0 = ent(data[data[feature] == 0])
  ent1 = ent(data[data[feature] == 1])
  n = len(data)
  n0 = len(data[data[feature] == 0])
  n1 = len(data[data[feature] == 1])
  return ent(data) - ent0 * n0 / n - ent1 * n1 / n


df = pd.read_csv('train_data_tree.csv')

#print('IG sex: ', ig(df, 'sex'))
print('IG exang: ', ig(df, 'exang'))
#print('IG num: ', ig(df, 'num'))

IG exang:  0.11939340343891608